<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
		<add key="EXTERNAL" value="PROCESSED"/>
	    <add key="BECK_LEGACY" value="Processed"/>
		<add key="CHARLESTOWNE" value="Processed"/>
	    <add key="CHESAPEAKE" value="processed"/>		
		<add key="COMMONWEALTH" value="Processed"/>		
		<add key="CRESCENT" value="Processed"/>		
		<add key="DESAI" value="Processed"/>
		<add key="SARONA" value="Processed"/>
		<add key="FCH" value="Processed"/>
		<add key="HIGHGATE" value="process"/>
		<add key="HOTELEQUITIES" value="Processed"/>
		<add key="HOTELEVOLUTION" value="Processed"/>
		<add key="INNVEST" value="Processed"/>
		<add key="MASTERBUILT" value="Processed"/>
		<add key="NAPLES" value="Processed"/>
		<add key="NEWCRESTIMAGE" value="Processed"/>
		<add key="NORTHPOINTE" value="Processed"/>
		<add key="PRESIDIAN" value="Processed"/>
		<add key="PRISM" value="Processed"/>
		<add key="SCARLETGRAY" value="Processed"/>
		<add key="TRUENORTH" value="processed"/>
		<add key="VISIONS" value="Processed"/>
		<add key="WESTMONT" value="processed"/>
		<add key="WOODMONT" value="Processed"/>
		<add key="SourceDBConnectionString" value="Data Source=169.53.175.125;UID=mypuser;PWD=IKWWaISbjuOBx9w;DATABASE=Perspective"/>
	</appSettings>
</configuration>